@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
}
.content-area {
  @apply h-screen w-screen max-w-screen-2xl max-h-screen p-0 mx-auto;
}
.scrollBar {
  @apply scrollbar-thin scrollbar-thumb-primary-color scrollbar-track-bg-color-grey;
}
.scrollBar-border-radius::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.toggleSwitch::after {
  content: '';
  @apply w-7 h-7 rounded-full absolute transition duration-200 transform scale-110 bg-gray-500 flex left-0 my-auto;
}
.toggleSwitch:checked::after {
  content: '';
  @apply transition duration-200 bg-primary-color transform translate-x-5;
}
.colorGroup {
  @apply flex justify-around items-center;
}
.toolbarClassName {
  @apply p-0 border-0 !important mt-3;
}
:is(.rdw-inline-wrapper, .rdw-list-wrapper, .rdw-embedded-wrapper) > * {
  border: none !important;
}
.public-DraftStyleDefault-block {
  @apply my-2 !important;
}

.hoverRoundedGray {
  @apply p-2 rounded-full flex items-center justify-center hover:cursor-pointer hover:bg-gray-200;
}
.hoverRoundedLightGray {
  @apply p-2 rounded-full flex items-center justify-center hover:cursor-pointer hover:bg-gray-50;
}

.hoverOnGreen:hover {
  @apply bg-green-400;
}
.hoverOnGreen-2:hover {
  @apply bg-green-100;
}

.customCheck::after {
  font-family: 'Font Awesome 6 Free';
  @apply font-black text-sm text-white;
  content: '\f00c';
  display: none;
}

.customCheck:checked {
  @apply bg-primary-color;
}
.customCheck:checked::after {
  display: block;
}

.radioActiveClass::after {
  content: '';
  @apply bg-primary-color m-auto;
  width: 9px;
  height: 9px;
  display: none;
  border-radius: 100%;
}
.radioActiveClass:checked {
  @apply border-primary-color;
}
.radioActiveClass:checked:after {
  display: block;
}
.radioActiveClass:checked ~ label {
  @apply font-bold text-black;
}
.dayCustomStyle span:nth-child(even) {
  @apply bg-light-green;
}
.dayCustomStyle span:nth-child(odd) {
  @apply bg-gray-100;
}

/* React Calender custom styles */
.react-calendar {
  @apply w-full h-65 bg-white rounded-lg;
  max-width: 292px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.react-calendar__navigation {
  @apply text-white bg-primary-color rounded-t-lg justify-around;
}
.react-calendar__navigation__label {
  @apply text-white font-bold;
}
.react-calendar__navigation__label:hover {
  @apply bg-light-green;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  @apply text-lg;
}
.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__prev-button:hover {
  @apply rounded-full;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}
