@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
}
.content-area {
  @apply h-screen w-screen max-w-7xl max-h-screen p-0 mx-auto;
}
.scrollBar {
  @apply scrollbar-thin scrollbar-thumb-primary-color scrollbar-track-bg-color-grey;
  border-radius: 10px;
}
.scrollBar-border-radius::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
